.App {
	text-align: center;
}

:root {
	--logo-sz: 60vmin;
	--font-sz: calc(10px + 2vmin);
}

.App-logo {
	animation: logo-anim infinite 20s ease;
	position: fixed;
	height: var(--logo-sz);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: -1000;
}

.dialog {
	position: fixed;
	width: 60ch;
	max-width: 96vw;
	padding: 1ch;
	height: auto;
	border-radius: 1ch;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.drk {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.7);
	transition-property: opacity;
}

.dn {
	opacity: 0;
	pointer-events: none;
}

body {
	/*background-color: #282c34;*/
	background-color: #800000;
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: var(--font-sz);
	color: #eccb10;
	text-shadow: #482c34 0 0 0.2em;
}

textarea, .dialog, a, a:visited {
	color: #61dafb;
	text-shadow: #41badb 0 0 0.2em;
}

.drk, a {
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

a {
	transition-property: color, text-shadow;
}

a:hover {
	color: #72e9ff;
	text-shadow: #219abb 0 0 0.5em;
}

textarea, .dialog {
	background-color: rgba(40, 44, 52, 0.8);
	box-shadow: 0 0 2vmin #219abb;
}

textarea {
	max-width: 90vh;
	max-height: 30vh;
	border: 0px;
}

@keyframes logo-anim {
	0% {
		height: var(--logo-sz);
		transform:
			translate(-50%, -50%)
			rotate(0deg);
	}
	25% {
		height: calc(1.2 * var(--logo-sz));
		transform:
			translate(-50%, -50%)
			rotate(11deg);
	}
	75% {
		height: calc(1.3 * var(--logo-sz));
		transform:
			translate(-50%, -50%)
			rotate(-11deg);
	}
	100% {
		height: var(--logo-sz);
		transform:
			translate(-50%, -50%),
			rotate(0deg);
	}
}
